/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   I updated the styles myself, obviously.
   ========================================================================== */

body {
    font: 16px/26px "SuisseWorks-Regular";
    font-family: "SuisseWorks-Regular";
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: "SuisseIntlCond-Regular";
  src: url("../font/SuisseIntlCond-Regular.otf");
}

/* @font-face {
  font-family: "SuisseIntlCond-RegularItalic";
  src: url("../font/SuisseIntlCond-RegularItalic.otf");
} */

/* @font-face {
  font-family: "SuisseIntlCond-Bold";
  src: url("../font/SuisseIntlCond-Bold.otf");
} */

@font-face {
  font-family: "SuisseWorks-Regular";
  src: url("../font/SuisseWorks-Regular.otf");
}

/* @font-face {
  font-family: "SuisseWorks-RegularItalic";
  src: url("../font/SuisseWorks-RegularItalic.otf");
} */


.box{
  height: auto;
  background-color: white;
}

html, body{
  margin:0 auto;
  padding:0 auto;
}

p{
  font-family: "SuisseWorks-Regular";
  margin:0 auto;
  padding:0 auto;
  line-height: 1.2em;
  text-indent: -0.8em;
  margin-left: 1.6em;
  margin-right: 1.6em;
  margin-bottom: 1em;
  color: black;
  font-size: 1em;
}

.quoteTxt{
  /* font-size: 1.2em; */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.imgWrapper{
  /* width:800px; */
  margin-left: 0%;
  margin-right: 0%;
  transform-style: preserve-3d;
  border: solid black 0px;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
}

img{
  width: 100%;
  transform-style: preserve-3d;
}

.imgCaption{
  font-family: "SuisseIntlCond";
  font-size: 0.9em;
  line-height: 1em;
  color: white;
  transform: translateZ(500px) translateX(-50%) rotate(-90deg);
  /* box-shadow: 50px 50px 50px 50px rgba(255, 255, 255, 0.5);  */
  /* text-shadow: 10px 10px 5px rgba(255, 0, 0, 0.5); */
  position: absolute;
  top: 50%;
  left: 50%;
}

.titleTxt{
  font-family: "SuisseIntl";
  font-size: 1.5em;
  line-height: 1em;
  color: rgba(127,0,255,1);
  text-align: center;
}

.introTxt{
  font-family: "SuisseIntlCond-Regular";
  font-size: 1em;
  line-height: 1.3em;
  color: rgba(127,0,255,1);
}

span{
  color: rgba(127,0,255,1);
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
   .box{
     height: auto;
     background-color: white;
   }

   html, body{
     margin:0 auto;
     padding:0 auto;
   }

   p{
     margin:0 auto;
     padding:0 auto;
     line-height: 1.2em;
     text-indent: -0.8em;
     margin-left: 0.8em;
     margin-bottom: 0.8em;
     color: black;
   }

   .titleTxt{
     font-size: 2em;
     color: rgba(127,0,255,1);
     text-align: center;
   }

   .quoteTxt{
     /* font-size: 1.2em; */
     font-weight: bold;
     margin-top: 1em;
     margin-bottom: 1em;
   }

   .imgWrapper{
     /* width:800px; */
     transform-style: preserve-3d;
     /* border: solid black 1px; */
     overflow: hidden;
     margin-bottom: 1em;
   }

   img{
     width: 100%;
   }




    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
   p{
     margin:0 auto;
     padding:0 auto;
     line-height: 1.2em;
     text-indent: -1.6em;
     margin-left: 3.2em;
     margin-right: 1.6em;
     margin-bottom: 1em;
     color: black;
     font-size: 1em;
   }
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

    /* .footn
    {
    text-align: left;
    transform: rotate(-90deg);
    color: redBox;
    background: white;
    border: solid 0.1em;
    z-index: 100;
    padding: 2px;
    font-family: "SuisseIntlCond";
    line-height: 1.3em;
    }
    .footn1
    {
    transform: rotate(-90deg);
    color: red;
    background: white;
    border: solid 0.1em;
    z-index: 100;
    padding: 2px;
    font-family: "SuisseIntlCond";
    line-height: 1.3em;
    } */

    #footRef{
      cursor: crosshair;
    }

/* ==========================================================================
   INVISIBLE RED BOXES (FOOTNOTES HOLDERS)
   ========================================================================== */

    .redBox{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: red;
      display: none;
      pointer-events: none;

    }
    .redBox1{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox2{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 80%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox3{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 120%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox4{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox5{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox6{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox7{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox8{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox9{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox10{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox11{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox12{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox13{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox14{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox15{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox16{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox17{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox18{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox19{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox20{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox21{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: red;
      display: none;
      pointer-events: none;

    }
    .redBox22{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox23{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 80%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox24{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 120%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox25{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox26{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox27{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox28{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox29{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox30{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox31{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox32{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox33{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox34{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox35{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox36{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox37{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox38{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox39{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox40{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox41{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox42{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: red;
      display: none;
      pointer-events: none;

    }
    .redBox43{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 90%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox44{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 80%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox45{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 120%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox46{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox47{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox48{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox49{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox50{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox51{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox52{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox53{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox54{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox55{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox56{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox57{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox58{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox59{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox60{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox61{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox62{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }
    .redBox63{
      position: absolute;
      z-index: 100;
      margin: 0 auto;
      width: 100%;
      height: 0%;
      background-color: blue;
      display: none;
      pointer-events: none;
    }

    .footnote {
      text-align: center;
      transform: rotate(-90deg);
      -webkit-transform:: rotate(-90deg);
      color: rgba(127,0,255,1);
      background: white;
      border: solid 0.1em;
      z-index: 100;
      padding: 2px;
      font-family: "SuisseIntlCond-Regular";
      line-height: 1.3em;
    }
